.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;
    background-color: white;
    & div {
        & p {
            font-size: clamp(0.5rem, 1vw, 1rem); 
        }
    }
}
.comentario{
    opacity: 0.5;
    text-align: left;
    font-size: clamp(0.4rem, 1vw, 0.8rem);
}
.btnContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    > button:last-child {
        background-color: red;
        color: white;
        outline: none;
        border: none;
        padding: 2px 7px;
        border-radius: 3px;
    }
}