.container{
    background-color: rgb(241, 228, 228);
    min-height: 80px;
    padding-bottom: 50px;
}
.cardContainer{
    background-color: rgb(241, 228, 228);
    padding-bottom: 20px;
}


.title{
    margin: 10px 0;
}

.noHay{
    opacity: 0.5;
}